:root {
    --cyan-600: #4D96A9;
    --cyan-300: #8FE3F9;
    --purple-600: #855FB1;
    --purple-300: #D9B8FF;
    --slate-900: #28283D;
    --slate-600: #87879D;
    --slate-300: #D1D1DF;
    --white: #FAFAFA;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

body {
    font-family: "Red Hat Display", serif;
    min-height: 100vh;
}


.clr__slate--600 {
    color: var(--slate-600);
}

.btn__cyan {
    background: var(--cyan-600);
    margin-bottom: 1em;
    text-wrap: nowrap;
}

.btn__cyan:focus-visible,
.btn__cyan:hover,
.btn__cyan:active {
    background: #71C0D4;
}

.clr__cyan--300 {
    color: var(--cyan-300);
    margin-left: .25em;
}


.btn__purple {
    background: var(--purple-600);
    text-wrap: nowrap;
}

.btn__purple:focus-visible,
.btn__purple:hover,
.btn__purple:active {
    background: #B18BDD;
}

.clr__purple--300 {
    color: var(--purple-300);
    margin-left: .25em;
}


.text__font {
    font-size: clamp(.995rem, .956rem + .19vw, 1.125rem);
    font-weight: 600;
}

.section__title {
    font-size: clamp(1.989rem, 4.736vw, 2.5rem);
    color: var(--slate-900);
    font-weight: 900;
}

.nav {
    display: flex;
    justify-content: center;
    padding: 3em 0 0 0;
}

.intro {
    padding: 4em 0 2em;
}

.img__small-screen--container {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.img__small-screen {
    min-width: 433px;
    min-height: 160px;
    object-position: -.025em;
    object-fit: fill;
    margin-bottom: 3em;
}

.img__large-screen--visible {
    visibility: hidden;
    width: 0;
    height: 0;
}

.intro__wrapper {
    display: flex;
    justify-content: center;
    padding: 0 2em;
    overflow-x: hidden;
    text-align: center;
}

.intro__content {
    width: max(30rem - 2.2vw);
}

.main__title {
    color: var(--slate-900);
    font-size: clamp(2.5rem, 6.274vw, 3.977rem);
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.intro__text {
    margin-bottom: 1.5rem;
}

.btn {
    color: var(--white);
    padding: 1em 2.5em;
    border: none;
    border-radius: 1.8125rem;
    font-weight: 800;
    line-height: 1.5;
}

.wrapper {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 2em 2em 2.25em;
    overflow: hidden;
}

.main {
    display: grid;
    place-items: center;
    text-align: center;
}

.abstract__shape {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4em;
    overflow: hidden;
}

.shape__line {
    height: 80px;
    border-right: -1.5px solid var(--slate-600);
    border-left: 1.5px solid var(--slate-600);
}

.shape__circle {
    min-width: 56px;
    height: 56px;
    padding: 1em;
    border: 1.5px solid var(--slate-600);
    border-radius: 50%;
    font-weight: 600;
}

.shape__figure {
    text-align: center;
    color: var(--slate-600);
}

.main__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 1rem;
    margin-bottom: 4em;
}

.main__img {
    object-fit: fill;
    width: 100%;
    max-width: 16rem;
    min-height: 9rem;
    border-radius: .5rem;
}

.main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 34rem;
}

.section__subtitle {
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.1;
    color: var(--cyan-600);
    font-size: clamp(.739rem, .566rem + .60vw, 1.023rem);
    font-weight: 900;
    margin-bottom: 1rem;
}

.section__title--main {
    margin-bottom: 2rem;
}

.footer__position {
    position: relative;
    bottom: 1.75em;
    top: 0;
}

.abstract__shape--position {
    margin-bottom: 0;
    position: relative;
    top: 1.75em;
}

.shape__circle--bg {
    background: var(--white);
    z-index: 1;
}

.bg__accent {
    background-image: url(assets/mobile/image-footer.jpg);
    background-color: var(--cyan-600);
    background-blend-mode: soft-light;
    background-size: cover;
    background-repeat: repeat-x;
}

.footer__wrapper {
    padding-block: 4em;
}

.footer__content {
    color: var(--white);
    text-align: center;
    width: 34rem;
    max-width: 100%;
    margin: 0 auto;
}

.section__title--footer {
    color: var(--white);
    margin-bottom: 1.5rem;
}

.footer__text {
    margin-bottom: 1.5rem;
}

.btn__purple--footer {
    opacity: .85;
}


@media (min-width: 416px) {

    .btn__cyan {
        margin: 0 1em 0 0;
    }
}


@media (min-width: 768px) {

    .intro {
        padding-bottom: 4em;
    }

    .img__small-screen {
        min-width: 820px;
        height: auto;
        margin-bottom: 4.5em;
    }

    .main__wrapper {
        padding-top: 3.5em;
    }

    .main__images {
        width: calc(100% - 20px);
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
    }

    .main__img {
        height: 10rem;
    }

    .section__title--main {
        width: 82%;
        text-wrap: stable;
    }


    .bg__accent {
        background-image: url(assets/tablet/image-footer.jpg);
    }

}


@media (min-width: 1200px) {

    .nav {
        padding-top: 5em;
    }

    .img__small-screen--container {
        display: none;
    }


    .intro__wrapper {
        height: 100%;
        min-height: 22.5rem;
        justify-content: space-between;
        align-items: center;
        overflow-y: visible;
        padding-inline: 0;
    }

    .img__large-screen--visible {
        visibility: visible;
        width: auto;
        height: 303px;
    }

    .img__large-screen--position-left { 
        align-self: flex-start;
        object-position: -1.6em;
    }

    .img__large-screen--position-right {
        align-self: flex-end;
        object-position: 1.6em;

    }

    .intro__content {
        margin-inline: 2em;
    }

    .wrapper {
        padding-inline: 0;
        padding-bottom: 2.75em;
    }

    .main__images {
        width: 100%;
        gap: 2rem;
    }

    .main__img {
        height: 16rem;
    }

    .main__title,
    .intro__text {
        margin-bottom: 2rem;
    }

    .bg__accent {
        background-image: url(assets/desktop/image-footer.jpg);
    }

    .footer__wrapper {
        padding: 7em 0;
    }

    .footer__content {
        width: 100%;
        text-align: left;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2.5rem;
    }

    .section__title--footer {
        margin-bottom: 0;
        width: 38%;
        text-wrap: stable;
    }

    .footer__text {
        margin-inline: 2em;
        margin-bottom: 0;
        width: 35%;
    }
}